---
---

@charset "utf-8";

$BODYBACK:                        #E4E2E5;
$FOOTBACK:                        #261D22;
$NAVBACK:                         #1A1A1A;

@import
	"album",
	"article",
	"default",
	"lyrics",
	"page",
	"period",
	"post"
	;

// fix focus issue
* :focus { outline: 0; }
