---
layout: default
---
		<div id="banner">
			<div id="bind">
				<img src="/img/art-bergmann.jpg" alt="Art Bergmann site banner">
				<a href="/updates/2023/07/28/shadowwalk.html">
					<div id="feature" class="hide-all show-large show-xlarge">
						<img src="/img/panel.png" alt="Featured article image">
						<div class="title">ShadowWalk</div>
						<div class="topic">Pre-order on iTunes/Bandcamp</div>
					</div>
				</a>
				<div id="credit"><a href="http://www.lisamacintoshphotography.ca/" target="_blank">Lisa MacIntosh Photography</a></div>
			</div>
		</div>
		<div id="front-page" class="vertical-padding">
			<div class="ink-grid">
				<div class="column-group double-gutters">
					<div class="all-66 medium-100 small-100 tiny-100">
						<section class="update-articles bottom-padding">
							<h3>Updates</h3>
							<!-- UPDATES -->
							{% for update-article in site.categories['updates'] limit:5 %}
							<div class="update-article column-group half-gutters">
								<div class="all-25 tiny-100">
									<a href="{{ update-article.url }}"><img class="push-right" src="/updates/images/{{ update-article.date | date: '%Y-%m-%d'}}-{{ update-article.title | slugify }}.png"></a>
								</div>
								<div class="all-75 tiny-100">
									<div class="fw-400">
										<a href="{{ update-article.url }}" class="large">{{ update-article.title }}</a>
									</div>
									<div class="column-group small quarter-bottom-padding">
										<div class="all-33 small-100 tiny-100"><i class="fa fa-calendar"></i> {{ update-article.date | date: "%a, %b %d, %Y" }}</div>
										<div class="all-66 small-100 tiny-100"><i class="fa fa-user"></i> {% if update-article.author %}{{ update-article.author }}{% else %}Team Art{% endif %}</div>
									</div>
									<div class="fw-300">{{ update-article.excerpt }}</div>
									<div class="push-right medium"><a href="{{ update-article.url }}">Read more...</a></div>
								</div>
							</div>
							{% endfor %}
							{% comment %}<div class="column-group push-center top-space"><button class="ink-button small">More Updates</button></div>{% endcomment %}
							</section>
							<section class="press-articles">
								<h3>Press</h3>
								<!-- PRESS -->
								{% for press-article in site.categories['press'] limit:5 %}
								<div class="press-article bottom-padding">
									<div class="fw-400">
										<a href="{{ press-article.uri }}" target="_blank">{{ press-article.title }}</a>
									</div>
									<div class="column-group small quarter-bottom-padding">
										<div class="all-25 small-100 tiny-100"><i class="fa fa-calendar"></i> {{ press-article.date | date: "%a, %b %d, %Y" }}</div>
										<div class="all-30 small-100 tiny-100"><i class="fa fa-user"></i> {% if press-article.author %}{{ press-article.author }}{% else %}unknown{% endif %}</div>
										<div class="all-45 small-100 tiny-100"><i class="fa fa-newspaper-o"></i> {% if press-article.publication %}{{ press-article.publication }}{% else %}unknown{% endif %}</div>
									</div>
									<div class="fw-300 medium">{{ press-article.excerpt }}</div>
									<div class="push-right small"><a href="{{ press-article.uri }}" target="_blank">{{ press-article.uri }}</a> <i class="fa fa-external-link"></i></div>
								</div>
								{% endfor %}
								{% comment %}<div class="column-group push-center top-space"><button class="ink-button small">More Press</button></div>{% endcomment %}
							</section>
						</div>
						<div class="all-33 medium-100 small-100 tiny-100">
							<section class="social bottom-padding hide-small hide-tiny">
								<h3>Tweets</h3>
								<a class="twitter-timeline" data-height="640" data-dnt="true" data-theme="light" data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/ArtBergmann"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</section>
							{% comment %}
							<section class="shows bottom-padding">
								<!-- SHOWS -->
								<h3>Shows</h3>
								<a href="#">
									<div class="column-group">
										<div class="all-25 small-100 tiny-100"><span class="fw-300 medium">0000/00/00</span></div>
										<div class="all-40 small-100 tiny-100"><span class="fw-400 medium uppercase small-double-left-padding">Location, XX</span></div>
										<div class="all-35 small-100 tiny-100"><span class="fw-300 medium italic small-double-left-padding">Venue Name</span></div>
									</div>
								</a>
								<div class="column-group push-center top-space"><button class="ink-button small">More Shows</button></div>
							</section>
							{% endcomment %}
						</div>
					</div>
				</div>
			</div>
