---
layout: page
title: mail order merchandise
---
<p></p>
{% for item in site.shop %}
	<div id="{{ item.desc | slugify }}" class="column-group gutters">
		<div class="all-25 small-100 tiny-100">
			<a href="{{ item.link }}" target="_blank"><img src="images/{{ item.image }}" alt="{{ item.desc }} thumbnail"></a>
		</div>
		<div class="all-75 small-100 tiny-100">
			<ul class="details unstyled">
				<li class="fw-700 uppercase small-double-left-padding"><a href="{{ item.link }}" target="_blank">{{ item.desc }}</a></li>
				{%if item.note %}
				<li class="fw-300 small-double-left-padding">{{ item.note }}</li>
				{% endif %}
				{%if item.quote %}
				<li class="fw-300 small-double-left-padding">
					<span style="font-style: italic">{{ item.quote.text }}</span><span style="font-weight: bold; font-size: .7em"> - {{ item.quote.source }}</span>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endfor %}
