{% for post in sorted_lyrics %}
    <h2 id="{{ post.title | slugify }}">{{ post.title}}</h2>
    {% assign post_len = post.content | size %}
    {% if post_len > 1 %}
      {% if post.lyrics and post.music %}
        {% if post.lyrics == post.music %}
          lyrics/music: {{ post.lyrics }}<br /><br />
        {% else %}
          lyrics: {{ post.lyrics }}; music: {{ post.music }}<br /><br />
        {% endif %}
      {% elsif post.lyrics and !post.music %}
        lyrics: {{ post.lyrics }}<br /><br />
      {% elsif !post.lyrics and post.music %}
        music: {{ post.music }}<br /><br />
      {% endif %}
      {{ post.content }}
    {% else %}
      No lyrics yet. Any help?
    {% endif %}
{% endfor %}
