{% for post in sorted_lyrics %}
    <a href="#{{ post.title | slugify }}">{{ post.title}}</a>
    {% if post.lyrics and post.music %}
      {% if post.lyrics == post.music %}
        *(lyrics/music: {{ post.lyrics }})
      {% else %}
        *(lyrics: {{ post.lyrics }}; music: {{ post.music }})
      {% endif %}
    {% elsif post.lyrics and post.music == null %}
      *(lyrics: {{ post.lyrics }})
    {% elsif post.lyrics == null and post.music %}
      *(music: {{ post.music }})
    {% endif %}
    <br />
{% endfor %}
