	<div class="push"></div>
</div>
<footer id="footer" class="clearfix">
	<div class="ink-grid">
		<div class="information column-group quarter-vertical-padding">
			<div class="all-33 small-100 tiny-100 push-middle align-center small-order-2 tiny-order-2">
				<a href="https://twitter.com/ArtBergmann" target="_blank"><i class="fa fa-2x fa-twitter fa-fw"></i></a>
				<a href="https://www.facebook.com/Art-Bergmann-1419077358314563/" target="_blank"><i class="fa fa-2x fa-facebook fa-fw"></i></a>
				<a href="https://www.youtube.com/channel/UCIAtFTNW7MgE-l_XwIa9S9w" target="_blank"><i class="fa fa-2x fa-youtube-play fa-fw"></i></a>
				<a href="https://www.instagram.com/artbergmann/" target="_blank"><i class="fa fa-2x fa-instagram fa-fw"></i></a>
				<a href="https://soundcloud.com/art-bergmann" target="_blank"><i class="fa fa-2x fa-soundcloud fa-fw"></i></a>
			</div>
			<div class="all-33 small-100 tiny-100 push-middle small-order-1 tiny-order-1">
				<form class="ink-form">
					<div class="control-group" style="display: block; text-align: center">
						<label for="email">Sign Up For Email Updates</label>
						<div class="control">
							<input id="email" name="email" type="text" placeholder="email address">
						</div>
					</div>
				</form>
			</div>
			<div class="all-33 small-100 tiny-100 push-middle align-center small-order-2 tiny-order-2">
				<img src="{{ "/img/weewerk.png" | prepend: site.baseurl }}">
			</div>
		</div>
	</div>
	<div class="copyright show-xlarge show-large show-medium hide-all">
		Copyright &#169; {{ 'now' | date: "%Y" }} Art Bergmann
	</div>
	<div class="copyright hide-xlarge hide-large hide-medium show-all">
		&#169; {{ 'now' | date: "%Y" }} Art Bergmann
	</div>
</footer>
<script>
	Ink.requireModules(['Ink.UI.Drawer_1'], function (Drawer) {
		new Drawer({ sides: 'right', mode: 'push' });
	});
</script>
