<footer id="footer" class="clearfix">
	<div class="info-row">
		<div class="ink-grid">
			<div class="column-group">
				<div class="all-33 small-100 tiny-100 push-middle align-left small-align-center tiny-align-center small-order-2 tiny-order-2 small-half-vertical-padding tiny-half-vertical-padding">
					<a href="https://twitter.com/ArtBergmann" target="_blank"><i class="fa fa-2x fa-twitter fa-fw"></i></a>
					<a href="https://www.facebook.com/Art-Bergmann-1419077358314563/" target="_blank"><i class="fa fa-2x fa-facebook fa-fw"></i></a>
					<a href="https://www.youtube.com/channel/UCIAtFTNW7MgE-l_XwIa9S9w" target="_blank"><i class="fa fa-2x fa-youtube-play fa-fw"></i></a>
					<a href="https://www.instagram.com/artbergmann/" target="_blank"><i class="fa fa-2x fa-instagram fa-fw"></i></a>
					<a href="https://soundcloud.com/art-bergmann" target="_blank"><i class="fa fa-2x fa-soundcloud fa-fw"></i></a>
				</div>
				<div class="all-33 small-100 tiny-100 push-middle align-center small-order-1 tiny-order-1">
						<form class="ink-form" action="//artbergmann.us14.list-manage.com/subscribe/post?u=18789d216f693f91217d2853b&amp;id=4cfa693846" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  novalidate>
							<div class="control-group" style="diplay: block; text-align: center">
								<label for="mce-EMAIL">Subscribe to Newsletter</label>
								<div class="control append-button" role="subscribe">
									<input class="required" id="mce-EMAIL" name="EMAIL" type="email" value="" placeholder="email address">
									<button class="ink-button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe">Subscribe</button>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18789d216f693f91217d2853b_4cfa693846" tabindex="-1" value=""></div>
							</div>
						</form>
				</div>
				<div class="all-33 small-100 tiny-100 push-middle align-right small-align-center tiny-align-center small-order-3 small-order-3 small-half-vertical-padding tiny-half-vertical-padding">
					<a class="hide-small hide-tiny" href="http://weewerk.com/" target="_blank"><img src="/img/weewerk.png"></a>
					<a class="hide-xlarge hide-large hide-medium" href="http://weewerk.com/" target="_blank"><img src="/img/weewerk.png"></a>
					<a class="hide-small hide-tiny half-left-padding" href="http://www.affta.ab.ca/" target="_blank"><img src="/img/AFA.gif"></a>
					<a class="hide-xlarge hide-large hide-medium half-left-padding" href="http://www.affta.ab.ca/" target="_blank"><img src="/img/AFA.gif"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="credit-row">
		<div class="ink-grid">
			<div class="column-group">
				<div class="team-art all-25 push-middle align-left">
					<a href="/contacts/">Team Art</a>
				</div>
				<div class="copyright all-50 push-middle align-center hide-small hide-tiny">
					<a href="/">Copyright &#169; {{ 'now' | date: "%Y" }} Art Bergmann</a>
				</div>
				<div class="copyright all-50 push-middle align-center hide-xlarge hide-large hide-medium">
					<a href="/">&#169; {{ 'now' | date: "%Y" }} Art Bergmann</a>
				</div>
				<div class="all-25 push-middle align-right">
					<a class="large-half-right-padding xlarge-half-right-padding" href="http://ink.sapo.pt" target="_blank"><img class="credit" src="/img/made_with_ink.png"></a>
					<a href="https://jekyllrb.com/" target="_blank"><img class="credit" src="/img/jekyll.png"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

