<!--[if lte IE 11 ]>
<div class="ink-alert basic" role="alert">
	<button class="ink-dismiss">&times;</button>
	<p>
		<strong>You are using an outdated Internet Explorer version.</strong>
		Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
	</p>
</div>
<![endif]-->

<div class="wrap">
<header>
	<div class="topbar">
		<div class="ink-grid">
			<div class="column-group">
				<!-- SITE TITLE -->
				<div class="xlarge-30 hide-large hide-medium hide-small hide-tiny push-middle">
					<a class="largetitle push-left" href="{{ site.baseurl }}/">Art Bergmann</a>
				</div>
				<div class="hide-xlarge large-66 medium-66 small-66 tiny-66 push-middle">
					<a class="smalltitle push-left" href="{{ site.baseurl }}/">Art Bergmann</a>
				</div>

				<!-- SITE NAVIGATION -->
				<div class="xlarge-70 hide-large hide-medium hide-small hide-tiny push-middle">
					<nav class="ink-navigation">
						<ul class="menu horizontal black push-right">
							{% if site.debug %}
								<li>
									<a href="#">Debug <i class="fa fa-chevron-down"></i></a>
									<ul class="submenu">
										<li>
											<a href="{{ site.baseurl }}/news/debug.html">News</a>
										</li>
										<li>
											<a href="{{ site.baseurl }}/lyrics/debug.html">Lyrics</a>
										</li>
									</ul>
								</li>
							{% endif %}
							<li>
								<a href="{{ site.baseurl }}/updates/">Updates</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/#">Shows</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/#">Shop</a>
							</li>
							<li>
								<a href="#">Albums <i class="fa fa-chevron-down"></i></a>
								<ul class="submenu">
									<li>
										<a href="{{ site.baseurl }}/albums/">Catalogue</a>
									</li>
									<li>
										<a href="{{ site.baseurl }}/lyrics/">Lyrics</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Galleries <i class="fa fa-chevron-down"></i></a>
								<ul class="submenu">
									<li>
										<a href="{{ site.baseurl }}/images/">Image</a>
									</li>
									<li>
										<a href="{{ site.baseurl }}/videos/">Video</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Archives <i class="fa fa-chevron-down"></i></a>
								<ul class="submenu">
									<li>
										<a href="{{ site.baseurl }}/press/">Press</a>
										<ul class="submenu flyout right">
											{% assign items = "pre-1980|1980-1984|1985-1989|1990-1994|1995-1999|2000-2004|2005-2009|2010-2014|2015-2020|undated" | split: "|" %}
											{% for item in items %}
												{% if site.categories[item] %}
													<li><a href="{{ site.baseurl }}/press/{{ item }}">{{ item }}</a></li>
												{% endif %}
											{% endfor %}
										</ul>
									</li>
									<li>
										<a href="{{ site.baseurl }}/shows/">shows</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">About <i class="fa fa-chevron-down"></i></a>
								<ul class="submenu">
									<li>
										<a href="{{ site.baseurl }}/background/">Background</a>
									</li>
									<li>
										<a href="{{ site.baseurl }}/timeline/">Timeline</a>
									</li>
									<li>
										<a href="{{ site.baseurl }}/short_story/">Short Story</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ site.baseurl }}/contacts/">Contacts</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="hide-xlarge large-33 medium-33 small-33 tiny-33 push-middle">
					<nav class="ink-navigation">
						<ul class="menu horizontal black push-right">
							<li>
								<button class="fa fa-bars right-drawer-trigger"><span class="hide-small label">Menu</span></button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="right-drawer">
	<nav class="ink-navigation">
		<ul class="menu vertical black push-left">
			<li>
				<a href="{{ site.baseurl }}/updates/">Updates</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/#">Shows</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/#">Shop</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/contacts/">Contacts</a>
			</li>
			<li class="heading separator-above">Albums</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/albums/">Catalogue</a>
			</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/lyrics/">Lyrics</a>
			</li>
			<li class="heading separator-above">Galleries</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/images/">Image</a>
			</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/videos/">Video</a>
			</li>
			<li class="heading separator-above">Archives</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/press/">Press</a>
			</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/shows/">Shows</a>
			</li>
			<li class="heading separator-above">About</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/background/">Background</a>
			</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/timeline/">Timeline</a>
			</li>
			<li>
				<a class="submenu" href="{{ site.baseurl }}/short_story/">Short Story</a>
			</li>
		</ul>
	</nav>
</div>
