	<div class="right-drawer">
		<nav class="ink-navigation">
			<ul class="menu vertical black push-left">
				<li><a href="/updates/">Updates</a></li>
				{% comment %}<li><a href="/shows/">Shows</a></li>{% endcomment %}
				<li><a href="/shop/">Shop</a></li>
				<li><a href="/contacts/">Contacts</a></li>
				{% comment %}<li class="heading separator-above">Albums</li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/albums/">Catalogue</a></li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/lyrics/">Lyrics</a></li>{% endcomment %}
				{% comment %}<li class="heading separator-above">Galleries</li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/images/">Image</a></li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/videos/">Video</a></li>{% endcomment %}
				{% comment %}<li class="heading separator-above">Archives</li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/press/">Press</a></li>{% endcomment %}
				{% comment %}<li><a class="submenu" href="/shows/">Shows</a></li>{% endcomment %}
				<li class="heading separator-above">About</li>
				<li><a class="submenu" href="/background/">Background</a></li>
				{% comment %}<li><a class="submenu" href="/timeline/">Timeline</a></li>{% endcomment %}
				<li><a class="submenu" href="/short_story/">Short Story</a></li>
			</ul>
		</nav>
	</div>
