// default.scss

// FOOTER: controls the height of the 'sticky' footer
$FOOTER:                        184px;

html, body {
	height: 100%;
	background-color: $BODYBACK;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (0 - $FOOTER);
	overflow: auto;
}

footer {
	background: $FOOTBACK;
	border-bottom: 10px $ACCENT solid;
}

.push, footer {
	height: $FOOTER;
	margin-top: 0;
}

#banner {
	margin-top: 45px;
}

.topbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	-webkit-transform: scale3d(1, 1, 1);
	*zoom: 1;
	top: 0px;
	background-color: $NAVBACK;
	border-top: 5px $ACCENT solid;
}

.topbar:after {
	content: "";
	display: table;
	clear: both
}

.ink-navigation {
	*zoom: 1;
}

.ink-navigation ul.black li {
	font-size: 14px;
	border: 0px;
}

.topbar .ink-navigation ul.black li a,
.right-drawer .ink-navigation ul.black li a {
	padding: .7em 1em;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 36px;
	*height: auto;
}

.ink-navigation ul.black li button.fa-bars span.label {
	padding: .7em .3em;
	font-weight: 300;
	text-transform: uppercase;
}

.ink-navigation ul.black li button.fa-bars {
	background: 0 0;
	font-size: 1.5em;
	border: 0;
	padding: .8em .8em .8em 0;
	float: left
}

.ink-navigation ul.black li button.fa-bars:active,
.ink-navigation ul.black li button.fa-bars:focus,
.ink-navigation ul.black li button.fa-bars:hover {
	color: #fff;
	outline: 0
}

.ink-navigation ul.black li.active a {
	color: #fff
}

.ink-navigation:after {
	content: "";
	display: table;
	clear: both
}

.right-drawer {
	background: $NAVBACK;
	ul {
		margin: 59px 0 0;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
}

/* START VIDEO PAGE STYLES */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* END VIDEO PAGE STYLES */

.cover-thumb {
	width: 100%;
}

.article,.album,.lyric,.period,.page,.post {
	margin-top: 70px;
}
#lyricsTable th,
#lyricsTable td {
	width: 50%;
}
