// default.scss // FOOTER: controls the height of the 'sticky' footer
$FOOTER:                        120px;
$FOOTER-SMALL:                  220px;

.indent {
	text-indent: 2em;
}

html, body, .content-drawer {
	height: 100%;
	background-color: $BODYBACK;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (0 - $FOOTER);
	overflow: auto;
}

footer {
	background: $FOOTBACK;
	color: #fff;
	a {
		text-decoration: none;
		i {
			color: #fff;
		}
	}
	.info-row {
		height: $FOOTER - 30px;
		text-align: center;
	}

	img {
		max-width: 125px;
		vertical-align: middle;
	}

	.credit-row {
		background: $NAVBACK;
		color: #fff;
		font-family: 'Adequate-ExtraLight';
		height: 30px;
		line-height: 30px;
		text-transform: uppercase;
		font-size: 10px;
		img.credit {
			max-height: 18px;
		}
		div.copyright,
		div.team-art {
			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

.push, footer {
	height: $FOOTER;
	margin-top: 0;
}

h1,h2,h3 {
	font-family: 'Adequate-ExtraLight';
	text-transform: uppercase;
	font-weight: normal;
	color: #1a1a1a;
}

.update-article,
.press-article {
	.fw-400 {
		margin-bottom: 0;
		margin-top: 0;
		text-transform: uppercase;
	}
	a {
		text-decoration: none;
		color: #1a1a1a;
	}
	img {
		padding-top: 6px;
	}
}

.shows > a,
.merchandise > a {
	text-decoration: none;
	color: inherit;
	:hover {
		background-color: $FOOTBACK;
	}
}

.details {
	margin-top: 0;
	li {
		margin-top: 0;
	}
	li.prices {
		margin-bottom: 2px !important;
		span {
			width: 45%;
		}
	}
}

#banner {
	margin-top: 53px;
	#bind {
		position: relative;
		max-width: 1920px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		#credit {
			position: absolute;
			left: 1%;
			bottom: 1%;
			text-transform: uppercase;
			font-size: .6em;
			color: #1a1a1a;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
		#feature {
			position: absolute;
			right: 16%;
			bottom: 20%;
			width: 24%;
			display: block;
			background: rgba(175, 173, 174, 0.4);
			padding: 1vw;
			.title {
				width: 100%;
				font-size: 2vw;
				font-weight: 900;
				text-align: center;
				background-color: #E4E2E5;
			}
			.topic {
				width: 100%;
				font-size: 1vw;
				font-weight: 400;
				text-align: center;
				background-color: #E4E2E5;
				padding: 0 1em 0 1em;
			}
		}
	}
}

.topbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	-webkit-transform: scale3d(1, 1, 1);
	*zoom: 1;
	top: 0px;
	background-color: $NAVBACK;
}

.topbar:after {
	content: "";
	display: table;
	clear: both
}

.ink-navigation {
	*zoom: 1;
}

.sitetitle {
	font-family: 'Adequate-ExtraLight';
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

a.largetitle {
	@extend .sitetitle;
	font-size: 36px;
}
a.smalltitle {
	@extend .sitetitle;
	font-size: 16px;
}

.ink-navigation ul.black li {
	font-size: 12px;
	border: 0px;
	white-space: nowrap;
}

.right-drawer .ink-navigation ul.black li.heading {
	color: #fff;
	font-family: 'Adequate-ExtraLight';
	letter-spacing: .12em;
	padding: .7em 1em;
	text-transform: uppercase;
	line-height: 36px;
	border-top: 1px solid #404040;
	font-weight: 900;
	*height: auto;
}

.topbar .ink-navigation ul.black li a,
.right-drawer .ink-navigation ul.black li a {
	font-family: 'Adequate-ExtraLight';
	letter-spacing: .12em;
	padding: .7em 1em;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 36px;
	*height: auto;
}

.right-drawer .ink-navigation ul.black li a.submenu {
	text-indent: 2em;
}

.ink-navigation ul.black li button.fa-bars span.label {
	font-family: 'Adequate-ExtraLight';
	letter-spacing: .12em;
	font-size: 16px;
	padding: .7em .3em;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}

.ink-navigation ul.black li button.fa-bars {
	background: 0 0;
	font-size: 1.5em;
	border: 0;
	padding: .8em .8em .8em 0;
	float: left;
	color: #fff;
	outline: 0;
}

.ink-navigation ul.black li.active a {
	color: #fff
}

.ink-navigation:after {
	content: "";
	display: table;
	clear: both
}

.right-drawer {
	background: $NAVBACK;
	ul {
		margin: 59px 0 0;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
}

/* START VIDEO PAGE STYLES */
.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* END VIDEO PAGE STYLES */

.cover-thumb {
	width: 100%;
}

.article,.album,.lyric,.page,.post {
	margin-top: 70px;
}
#lyricsTable th,
#lyricsTable td {
	width: 50%;
}
