---
layout: default
---
{% if site.categories[page.slug] != null %}
  {% assign sorted_lyrics = site.categories[page.slug] | sort: 'track' %}
{% endif %}

<div class="album">

  <header class="album-header">
    <h1 class="album-title">{{ page.title }}</h1>
  </header>

  <div><img src="images/{{page.slug}}.jpg"></div>

{% if site.categories[page.slug] != null %}
  {% include album_track_list.html %}
{% endif %}

  <article class="album-content">
    {{ content }}
  </article>

{% if site.categories[page.slug] != null %}
  {% include album_lyrics.html %}
{% endif %}

</div>
