---
layout: default
---
{% if !site.categories[page.slug] %}
  {% assign sorted_lyrics = site.categories[page.slug] | sort: 'track' %}
{% endif %}

<div class="ink-grid">
	<div class="column-group push-center">
		<div class="xlarge-60 large-60 medium-80 small-auto tiny-auto">
			<div class="album">

				<h1 class="album-title">{{ page.title }}</h1>
				<h2 class="album-artist">{{ page.artist }}</h2>

				<img src="images/cover_front.jpg" class="album-art">

				{% if !site.categories[page.slug] %}
					{% include album_track_list.html %}
				{% endif %}

				<article class="album-content">
					{{ content }}
				</article>

				{% if !site.categories[page.slug] %}
					{% include album_lyrics.html %}
				{% endif %}

			</div>
		</div>
	</div>
</div>
