---
layout: default
---
<div class="lyric">

  <header class="lyric-header">
    <h1 class="lyric-title">{{ page.title }}</h1>
  </header>

  lyrics: {% if post.lyrics %}{{ post.lyrics }}{% else %}Bergmann{% endif %}<br />
  music: {% if post.music %}{{ post.music }}{% else %}Bergmann{% endif %}

  <article class="lyric-content">
    {% assign post_len = post.content | size %}
    {% if post_len > 1 %}
      {{ content }}
    {% else %}
      No lyrics yet. Any help?
    {% endif %}
  </article>

</div>
