---
layout: default
---
<div class="ink-grid">
	<div class="column-group push-center">
		<div class="xlarge-40 large-40 medium-60 small-auto tiny-auto">
			<div class="lyric">

				<h1 class="lyric-title">{{ page.title }}</h1>

				<p class="lyric-credits">
					lyrics: {% if post.lyrics %}{{ post.lyrics }}{% else %}Bergmann{% endif %}<br />
					music: {% if post.music %}{{ post.music }}{% else %}Bergmann{% endif %}
				</p>

				<article class="lyric-content">
					{% assign post_len = content | size %}
					{% if post_len > 1 %}
						{{ content }}
					{% else %}
						No lyrics yet. Any help?
					{% endif %}
				</article>

			</div>
		</div>
	</div>
</div>
