---
layout: default
---
<div class="ink-grid">
	<div class="column-group push-center">
		<div class="xlarge-60 large-60 medium-80 small-auto tiny-auto">
			<div class="period">

				<h1 class="period-title">{{ page.title }}</h1>

				{% if site.categories[page.title] %}
				{% assign sorted_articles = site.categories[page.title] | sort: 'title' %}
					<article class="period-content">
						{% for post in sorted_articles %}
							<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a><br />
						{% endfor %}
					</article>
				{% endif %}
			</div>
		</div>
	</div>
</div>
