---
layout: default
---
<div class="ink-grid">
	<div class="column-group push-center">
		<div class="xlarge-60 large-60 medium-80 small-auto tiny-auto">
			<div class="post">

				<h1 class="post-title">{{ page.title }}</h1>
				<div class="post-meta small bottom-padding">
					<i class="fa fa-calendar"></i> <span class="post-date">{{ page.date | date: "%a, %b %d, %Y" }}</span></br>
					<i class="fa fa-user"></i> <span class="post-author">{% if page.author %}{{ page.author }}{% else %}Team Art{% endif %}</span>
				</div>
				
				<article class="post-content">
					{{ content }}
				</article>

			</div>
		</div>
	</div>
</div>
